
services:
  minIO:
    image: minio/minio:RELEASE.2024-01-16T16-07-38Z
    container_name: minio-study
    ports:
      - "${MINIO_API_PORT}:9000"
      - "${MINIO_WEB_UI_PORT}:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    restart: always
    env_file:
      - .env

volumes:
  minio-data: